# Requirements

In [43]:
pip install cryptography --upgrade

Requirement already satisfied: cryptography in c:\users\felip\anaconda3\lib\site-packages (44.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: cffi>=1.12 in c:\users\felip\anaconda3\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\felip\anaconda3\lib\site-packages (from cffi>=1.12->cryptography) (2.21)

In [44]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\felip\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [45]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\felip\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\felip\anaconda3\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
pip install msoffcrypto-tool

Requirement already satisfied: msoffcrypto-tool in c:\users\felip\anaconda3\lib\site-packages (5.4.2)
Requirement already satisfied: cryptography>=39.0 in c:\users\felip\anaconda3\lib\site-packages (from msoffcrypto-tool) (44.0.1)
Requirement already satisfied: olefile>=0.46 in c:\users\felip\anaconda3\lib\site-packages (from msoffcrypto-tool) (0.47)
Requirement already satisfied: cffi>=1.12 in c:\users\felip\anaconda3\lib\site-packages (from cryptography>=39.0->msoffcrypto-tool) (1.17.1)
Requirement already satisfied: pycparser in c:\users\felip\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=39.0->msoffcrypto-tool) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip install pandas

Requirement already satisfied: pandas in c:\users\felip\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\felip\anaconda3\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\felip\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\felip\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\felip\anaconda3\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\felip\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [48]:
import pandas as pd

# Creating Pandas Data Frame

In [49]:
data = [['John', 31], ['Hugo', 23], ['Laura', 19]]
columns = ['name', 'age']

In [50]:
df = pd.DataFrame(data=data, columns=columns)
df

    name  age
0   John   31
1   Hugo   23
2  Laura   19

# Data Import

##### • Reading XLS Files

In [ ]:
df_xls = pd.read_excel('fornecedores.xls')
df_xls

##### • Reading CSV Files

In [51]:
df_csv = pd.read_csv('alunos.csv', sep=';')
df_csv

          id  genero                     nome
0          1  male    Martins
1          2  male    Carvalho
2          3  female  Rocha
3          4  male    Cunha
4          5  female  Costa
...      ...     ...                      ...
29995  29996  female  Dias
29996  29997  male    Gomes
29997  29998  female  Almeida
29998  29999  male    Cavalcanti
29999  30000  male    Alves

[30000 rows x 3 columns]

##### • Reading TXT Files

In [ ]:
df_txt = pd.read_csv('regioes.txt', encoding='latin1', sep=';')
df_txt

##### • Reading JSON Files

In [ ]:
df_json = pd.read_json('moedas.json', orient='index')
df_json

##### • Reading XLSX Files

In [42]:
df_xlsx = pd.read_excel('clientes.xlsx')
df_xlsx

,id_cliente,id_regiao,primeiroNome,NomeMeio,UltimoNome,data_nascimento,Sexo,Email
0,11000,26,Jon,V,Yang,1971-10-06,M,jon24@adventure-works.com
1,11001,37,Eugene,L,Huang,1976-05-10,M,eugene10@adventure-works.com
2,11002,31,Ruben,NaN,Torres,1971-02-09,M,ruben35@adventure-works.com
3,11003,11,Christy,NaN,Zhu,1973-08-14,F,christy12@adventure-works.com
4,11004,19,Elizabeth,NaN,Johnson,1979-08-05,F,elizabeth5@adventure-works.com
...,...,...,...,...,...,...,...,...
995,11995,39,Kelvin,A,Carson,1965-12-12,M,kelvin11@adventure-works.com
996,11996,21,Veronica,NaN,Srini,1966-01-30,F,veronica9@adventure-works.com
997,11997,2,Kristina,NaN,Kapoor,1971-04-04,F,kristina1@adventure-works.com
998,11998,24,Donna,NaN,Sharma,1966-02-07,F,donna9@adventure-works.com
999,11999,10,Johnny,NaN,Shan,1965-12-03,M,johnny11@adventure-works.com

# Renaming Columns

In [53]:
df_csv = df_csv.rename(columns={'genero':'genre', 'nome':'name'})
df_csv

          id   genre                     name
0          1  male    Martins
1          2  male    Carvalho
2          3  female  Rocha
3          4  male    Cunha
4          5  female  Costa
...      ...     ...                      ...
29995  29996  female  Dias
29996  29997  male    Gomes
29997  29998  female  Almeida
29998  29999  male    Cavalcanti
29999  30000  male    Alves

[30000 rows x 3 columns]

# Filtering Data
### Pandas Boolean Operators
##### and -> &
##### or  -> |
##### not -> -

In [ ]:
df_filter = df_csv[df_csv.genre == 'female']
df_filter

In [ ]:
df_filter = df_csv[df_csv.genre != 'female']
df_filter

In [ ]:
df_filter = df_csv[(df_csv['genre'] == 'female') & (df_csv['id'] > 10000)]
df_filter

# Aggregate Functions

In [ ]:
print(df_csv['id'].mean())
print(df_csv['id'].min())
print(df_csv['id'].max())

In [ ]:
df_csv['id'].describe()
# df_csv['numerical_colum1', 'numerical_column2', ...].describe()

In [ ]:
df_csv.groupby(['genre']).min().head(10)[['id']]

In [ ]:
df_group = df_csv.groupby(['genre']) [['id']].mean().head(10)
df_group

# Sorting

In [56]:
df_csv.sort_values(['id']).head(10)

   id   genre                     name
0   1  male    Martins
1   2  male    Carvalho
2   3  female  Rocha
3   4  male    Cunha
4   5  female  Costa
5   6  male    Cardoso
6   7  male    Almeida
7   8  female  Oliveira
8   9  male    Castro
9  10  male    Fernandes

In [57]:
df_csv['id'].sort_values()

0            1
1            2
2            3
3            4
4            5
         ...
29995    29996
29996    29997
29997    29998
29998    29999
29999    30000
Name: id, Length: 30000, dtype: int64

In [58]:
df_csv['id'].sort_values(ascending=False)

29999    30000
29998    29999
29997    29998
29996    29997
29995    29996
         ...
4            5
3            4
2            3
1            2
0            1
Name: id, Length: 30000, dtype: int64

# Dropping NaN

In [ ]:
df_csv.isna().sum()

In [ ]:
df_csv.dropna()

# Impute Column

In [ ]:
df_csv.fillna('genre')

In [ ]:
df_csv.fillna({'id': 0, 'genre': 'unknown'}, inplace=False)

# Data Visualization

In [ ]:
df_csv.head(3)

In [ ]:
display(df_csv)

##### • Matplotlib

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib

In [ ]:
df_csv['genre'].hist()

In [ ]:
df_csv['genre'].hist(bins=20)

In [ ]:
df_csv.boxplot(['genre', 'name'])

##### • Seaborn

In [ ]:
pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
sns.scatterplot(data=df_csv, x='id', y='genre')

In [ ]:
sns.regplot(data=df_csv, x='id', y='genre')

# Write to CSV (Databricks Data Platform)

In [0]:
write_path = '/YourDir/FileName.csv'
dbutils.fs.rm(write_path) #remove file if exists
#df_csv.to_csv(write_path.replace('dbfs:', '/dbfs'), index=False)
df_csv.to_csv(write_path, index=False)

In [1]:
pip install brazilcep

Collecting brazilcep
  Downloading brazilcep-6.7.0-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: requests>=2.28.2 in c:\users\felip\anaconda3\lib\site-packages (from brazilcep) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\felip\anaconda3\lib\site-packages (from requests>=2.28.2->brazilcep) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\felip\anaconda3\lib\site-packages (from requests>=2.28.2->brazilcep) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\felip\anaconda3\lib\site-packages (from requests>=2.28.2->brazilcep) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\felip\anaconda3\lib\site-packages (from requests>=2.28.2->brazilcep) (2024.12.14)
Downloading brazilcep-6.7.0-py3-none-any.whl (10 kB)
Installing collected packages: brazilcep
Successfully installed brazilcep-6.7.0
Note: you may need to restart the kernel to use updated packages.

In [31]:
from brazilcep import get_address_from_cep

cep = get_address_from_cep('05742-100')
print(f'O CEP indica o endereço', cep["street"], ',', cep["district"], ',', cep["city"], ',', cep["uf"])

O CEP indica o endereço Avenida João Caiaffa , Jardim Taboão , São Paulo , SP